.basic.label {
    margin-bottom: 0.5em;
}

button {
    margin-bottom: 0.5em;
        display: block;
        margin: 10px 5px ;
        padding: 10px 8px ;
    
        text-align: center;
        width: 100%;
}
.ui.grid   {
    margin-top: 8em;
}